#konva, #container {
    display:inline-block;
}

#konva {
    background-color:azure;
}

#container {
    /* resize:both; */
    /* overflow:auto; */
    width:100%;
    background-color:beige;
    /* text-align:center; */
}

#export {
    margin-top:20px;
    /* height:30px; */
    /* padding:8px; */
}